Language:        Cpp
# Always indent with tab.
UseTab:          Always
TabWidth:        4
IndentWidth:     4
# Don't wrap lines.
ColumnLimit:     0
# Only keep one blank line.
MaxEmptyLinesToKeep: 1
# Put braces on the same line.
BreakBeforeBraces: Attach
# Pad operators with spaces.
SpaceBeforeParens: Always
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles:  false
SpaceAfterTemplateKeyword: true
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpacesInContainerLiterals: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeInheritanceColon: true
SpaceBeforeConstructorInitializerColon: true
SpaceBeforeCaseColon: true
SpacesInConditionalStatement: true
SpacesAroundPointerQualifiers: Default
SpacesBeforeTrailingComments: 1
SpaceBetweenEmptyFunctionParens: false
SpaceInEmptyBlock: false
